In [4]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

0.25.1
1.17.2

In [40]:
# 创建Series
# 从列表创建
arr = [0, 1, 2, 3, 4]
series = pd.Series(arr)
print(series)
# 从字典创建
d = {'a':1, 'b':2, 'c':3, 'd':4}
series = pd.Series(d)
print(series)
# 创建DataFrame
# 从numpy数组创建
dates = pd.date_range('today', periods=6)  # 定义时间序列作为index
num_arr = np.random.randn(6, 4)  # 传入numpy随机数组
columns = ['A', 'B', 'C', 'D']   # 将列表作为列名
df = pd.DataFrame(num_arr, index=dates, columns=columns)
print(df)
# 从CSV文件创建
df = pd.read_csv('../NLP/data/home_news.csv', encoding='utf-8', sep=',')
print(df[:10])
# 从字典对象创建
data = {'animal':['cat', 'dog', 'snake', 'cat', 'dog', 'snake'],
        'age':[6, 8, 3, 7, 9, 2],
        'visits':[1, 2, 3, 8, 6, 4],
        'priority': ['high', 'medium', 'low', 'high', 'medium', 'low']}
labels = ['a', 'b', 'c', 'd', 'e', 'f']
df = pd.DataFrame(data, index=labels)
print(df)

0    0
1    1
2    2
3    3
4    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64
                                   A         B         C         D
2020-07-13 19:07:01.871673 -0.332765 -0.127464  0.133402 -1.392638
2020-07-14 19:07:01.871673  1.961778  2.587283  0.640901 -1.409881
2020-07-15 19:07:01.871673  2.164735 -1.037259 -0.731741 -2.066434
2020-07-16 19:07:01.871673 -0.238741  1.230009  1.357860  0.125587
2020-07-17 19:07:01.871673  1.381949  0.465047  0.216431  0.506090
2020-07-18 19:07:01.871673 -0.114076  1.470820  0.898969  0.988259
   Unnamed: 0                                            content
0           0  　　,中新网,1月8日电 综合报道，入冬以来，我国多个地区连续经历了重污染天气过程，多个城市...
1           1                        　　,【极端不利气象条件导致近期京津冀霾天气多发重发】
2           2  　　中国气象局7日举行近期霾天气气象成因媒体通气会，专家介绍，全球气候变暖背景下极端不利的气...
3           3  　　2016年11月以来，我国京津冀地区共发生7次持续性中到重度霾天气过程。冷空气不活跃、平...
4           4  　　预计1月8日至14日，气象条件整体有利于污染物的扩散，京津冀地区无持续性雾和霾天气，但1...
5           5                     　　,【环保部部长回应重污染天气热点：环境质量改善负重前行】
6           6         　　环境保护部6日晚间举行新闻发布会，环保部部长陈吉宁回应了重污染天气相关热点话题。
7           7  　　近期，环保部和一些地方环保部门发布了2016年的空气质量数据，结果显示多数地区空气质量有...
8           8  　　陈吉宁表示，我国的环境质量改善是在“负重前行”。所谓“重”，就是要在高污染物排放总量的前...
9           9  　　他指出，大气治理必然是一个较长的过程，不可能一蹴而就。“我们不能因为一两次重污染天气就失...
  animal  age  visits priority
a    cat    6       1     high
b    dog    8       2   medium
c  snake    3       3      low
d    cat    7       8     high
e    dog    9       6   medium
f  snake    2       4      low

In [12]:
# 显示df的基本信息
print(df.info())
print(df[:2])
print(df.loc[:, ['animal', 'age']])
print(df[['animal', 'age']])
print(df.loc[df.index[[1,2]], ['animal', 'age']])
print(df[df.age > 3])

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 4 columns):
animal      3 non-null object
age         3 non-null int64
visits      3 non-null int64
priority    3 non-null object
dtypes: int64(2), object(2)
memory usage: 200.0+ bytes
None
  animal  age  visits priority
a    cat    6       1     high
b    dog    8       2   medium
  animal  age
a    cat    6
b    dog    8
c  snake    3
  animal  age
a    cat    6
b    dog    8
c  snake    3
  animal  age
b    dog    8
c  snake    3
  animal  age  visits priority
a    cat    6       1     high
b    dog    8       2   medium

In [30]:
# 取出age值缺失的行
print(df[df['age'].isnull()])
# 取出age在5,7之间的行
print(df[(df['age']>5) & (df['age']<7)])
# c行的age改为5.5
df.loc['c', 'age'] = 5.5
print(df)
# 计算isits的总和
print(df.visits.sum())
# 计算每个种类animal的age的平均数
print(df.groupby('animal')['age'].mean())
# 计算每个种类animal的数量
## print(df.groupby('animal').count())
print(df['animal'].value_counts())

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []
  animal  age  visits priority
a    cat  6.0       1     high
c  snake  5.5       3      low
  animal  age  visits priority
a    cat  6.0       1     high
b    dog  8.0       2   medium
c  snake  5.5       3      low
d    cat  7.0       8     high
e    dog  9.0       6   medium
f  snake  2.0       4      low
24
animal
cat      6.50
dog      8.50
snake    3.75
Name: age, dtype: float64
dog      2
cat      2
snake    2
Name: animal, dtype: int64

In [31]:
# 先按'age'降序排列, 再按'visits'升序排列(age值相同时, 'visits'按升序排列)
print(df.sort_values(by=['age', 'visits'], ascending=[False, True]))

animal  age  visits priority
e    dog  9.0       6   medium
b    dog  8.0       2   medium
d    cat  7.0       8     high
a    cat  6.0       1     high
c  snake  5.5       3      low
f  snake  2.0       4      low

In [41]:
# 将priority的值'high','low' 替换为'top', 'bottom'
# df['priority'] = 
df['priority'].map({'high':'top', 'medium':'middle', 'low':'bottom'})
# print(df)

a       top
b    middle
c    bottom
d       top
e    middle
f    bottom
Name: priority, dtype: object

In [42]:
# 将animal的snake替换为python
df['animal'].replace('snake', 'python')

a       cat
b       dog
c    python
d       cat
e       dog
f    python
Name: animal, dtype: object

In [47]:
# 对每种动物的每种不同数量isits, 计算平均age, 返回一个表格, 索引是animal,列是visits数量,
# pivot 枢, 应该是转动, 调整表的索引, 列和值
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2    3    4    6    8
animal
cat     6.0  NaN  NaN  NaN  NaN  7.0
dog     NaN  8.0  NaN  NaN  9.0  NaN
snake   NaN  NaN  3.0  2.0  NaN  NaN

In [48]:
help(pd.DataFrame.pivot_table)

Help on function pivot_table in module pandas.core.frame:

pivot_table(self, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)
    Create a spreadsheet-style pivot table as a DataFrame. The levels in
    the pivot table will be stored in MultiIndex objects (hierarchical
    indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions
    fill_value : scalar, default None
        Value to replace missing values with
    margins : boolean, default False
        Add all row / columns (e.g. for subtotal / grand totals)
    dropna : boolean, default True
        Do not include columns whose entries are all NaN
    margins_name : string, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.
    observed : boolean, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionchanged :: 0.25.0

    Returns
    -------
    DataFrame

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum, fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': np.mean})
    >>> table
                    D         E
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': [min, max, np.mean]})
    >>> table
                    D    E
                mean  max      mean  min
    A   C
    bar large  5.500000  9.0  7.500000  6.0
        small  5.500000  9.0  8.500000  8.0
    foo large  2.000000  5.0  4.500000  4.0
        small  2.333333  6.0  4.333333  2.0

In [50]:
 # 有一整数列A的dataFrame, 删除数值重复的行
 df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
print(df)
# df1 = df.loc[df['A'].shift() != df['A']]
# 方法二
df1 = df.drop_duplicates(subset='A')
print(df1)

A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7
   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [57]:
# 一个全数值的dataframe
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
# 每个数字减去该列的平均值
print(df.mean(axis=0))
df1 = df.sub(df.mean(axis=0), axis='index')
print(df1)
# 每个数字减去该行的平均值
print(df.mean(axis=1))
df2 = df.sub(df.mean(axis=1), axis='index')

0         1         2
0  0.287767  0.563522  0.386835
1  0.352260  0.906856  0.741578
2  0.571138  0.602410  0.692201
3  0.137038  0.070881  0.782944
4  0.151403  0.209736  0.186898
0    0.299921
1    0.470681
2    0.558091
dtype: float64
          0         1         2
0 -0.012154  0.263601  0.086914
1 -0.118421  0.436175  0.270897
2  0.013047  0.044319  0.134110
3       NaN       NaN       NaN
4       NaN       NaN       NaN
0    0.412708
1    0.666898
2    0.621916
3    0.330288
4    0.182679
dtype: float64

In [61]:
# 一个有5列的DataFrame, 求哪一列的和最小
df = pd.DataFrame(np.random.random(size=(5,5)), columns=list('abcde'))
print(df)
print(df.sum().idxmin())
print(df.sum())

a         b         c         d         e
0  0.385535  0.147407  0.830590  0.200484  0.641421
1  0.623656  0.304330  0.353227  0.691505  0.891006
2  0.764069  0.711121  0.401103  0.493434  0.469281
3  0.372412  0.687010  0.957947  0.152404  0.678484
4  0.765512  0.900070  0.894094  0.118787  0.607122
d
a    2.911185
b    2.749939
c    3.436961
d    1.656614
e    3.287314
dtype: float64